*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*------- header -----*/
#head_block {
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
}

#head_list {
    display:inline;
    color: white;
}

/*------- main -------*/
#text_block {
    position: absolute;
    margin-top: 20px;
    left: 200px;
    padding-right: 200px;
    

}
#mb_1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    height: 100%;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
}

.mb_2 {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    height: 100%;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
}

#mb_3 {
    position: absolute;
    min-height: 400px;
    min-width: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
}

#mb_4 {
   position: absolute;
   margin-left: 300px;
   min-height: 400px;
   min-width: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
}

#mb_5 {
   position: absolute;
   margin-left: 600px;
   min-height: 400px;
   min-width: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
}

#mb_6 {
    position: absolute;
    min-height: 240px;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
    margin-top: 450px;
}

.foot_block {
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: grey;
    color: white;
}
